<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <!-- Định nghĩa servlet getthongtin -->
  <servlet>
    <servlet-name>getthongtin</servlet-name>
    <servlet-class>controller.getthongtin</servlet-class>
  </servlet>

  <!-- Định nghĩa servlet controller.C_Graph -->
  <servlet>
    <servlet-name>controller.C_Graph</servlet-name>
    <servlet-class>controller.C_Graph</servlet-class>
  </servlet>

  <!-- Định nghĩa servlet-mapping cho getthongtin -->
  <servlet-mapping>
    <servlet-name>getthongtin</servlet-name>
    <url-pattern>/getthongtin</url-pattern>
  </servlet-mapping>

  <!-- Định nghĩa servlet-mapping cho controller.C_Graph -->
  <servlet-mapping>
    <servlet-name>controller.C_Graph</servlet-name>
    <url-pattern>/controller.C_Graph</url-pattern>
  </servlet-mapping>

  <!-- Định nghĩa welcome-file-list -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>
